@charset "UTF-8";
/* CSS Document */

.wrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F8F8F8;
  cursor: none;
}

.cursor{
  position: absolute;
  opacity: 0;
}

.cursor_text{
  position: absolute;
  cursor: none;
  pointer-events: none;
  display: inline-block;
  z-index: 999;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 12px;
  transform: translate(-100px,-100px);
}

.cursor_follower{
    position: absolute;
    cursor: none;
    pointer-events: none;
    box-sizing: border-box;
    display: inline-block;
    z-index: 996;
    width: 100px;
    height: 100px;
    opacity: 1;
    border: 1px solid rgba(0,0,0,0.9);
    border-radius: 50% ;
    transform: translate(-100px,-100px);
    transition: 0.2s;
    transition-timing-function: ease-out;
}

.follower_hold{
    transition: all 0.15s;
    width: 360px;
    height: 360px;
    opacity: 0;
}

.cursor_hold{
    position: absolute;
    cursor: none;
    pointer-events: none;
    box-sizing: border-box;
    display: inline-block;
    z-index: 996;
    width: 100px;
    height: 100px;
    opacity: 0;
    transition: all 0.2s;
    fill: none;
    stroke: #D9D2D0;
    stroke-width: 60;
    stroke-dasharray: 943;
    stroke-dashoffset: 943;

}

.cursor_holding{
    width: 360px;
    height: 360px;
    opacity: 0.9;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 2s;
}

.cursor_reverse{
    width: 360px;
    height: 360px;
    opacity: 0.9;
    stroke-dashoffset: 943 !important;
    transition: stroke-dashoffset 0.3s;
}

/*progress*/
.progress{
  position: absolute;
  background-color: #070707;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.progress_title{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 1;
  letter-spacing: 1em;
  text-indent: 1em;
  color: #070707;
  top: calc(45vh - 50px);
  z-index: 2;
  width: 400px;
  height: 60px;
  font-size: 60px;
  text-align: center;
}
.progress_bar{
  position: absolute;
  display: block;
  width: 1%;
  height: 60px;
  top: 45vh;
  left: calc(50vw - 125px);
  background-color: #D9D2D0;
  z-index: 4;
}

.progress_text {
    position: absolute;
    top: 55vh;
    font-size: 13px;
    z-index: 4;
    color: #D9D2D0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    text-align: center;
}

.progress_bar_complete{
    width: 250px;
    background-color: #F8F8F8;
}


/*カラー反転*/
.progress_bg{
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
}

.bg1{
  z-index: 1
}

.bg2{
  z-index: 3
}

.bg3{
  z-index: 5
}

.colorInversion {
    display: block;
    background-color: #F8F8F8;
    mix-blend-mode: difference;
    animation-name: colorInversion;
    animation-duration: 2s;
    animation-timing-function:  cubic-bezier(.4, 0, .2, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes colorInversion {
  0% {
    transform-origin:bottom;
    transform: scaleY(0);
    }
  100% {
    transform-origin:bottom;
    transform: scaleY(1);
  }
}

/*bg_text*/
.bg_text{
  /*z-index　検討必要あり*/
  z-index: 3;
}

.bg_text h2{
  position: absolute;
  width: 100vw;
  height: 1em;
  color: #070707;
  font-size: 8vw;
  text-align: center;
  opacity: 0;
  line-height: 1;
  letter-spacing: 1em;
  text-indent: 1em;
  z-index: 995;
  transition: all 1.5s;
}

.bg_text_top{
  top: 0;
  transform: translateY(-200px);
}

.bg_text_bottom{
  bottom: 0;
  transform: translateY(200px);
}

/*bg_cp*/
.bg_cp{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0;
}

.bg_cp svg{
  width: 0;
  height: 0;
}

#boxA{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(0 ,calc(50vh - 100vw/12 *2));
}

#boxB{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 2),50vh);
}

#boxC{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 3), 0);
}

#boxD{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 7), calc(100vh - 100vw/12 *2));
}

#boxE{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 8),calc(50vh - 100vw/12 *2));
}

#boxF{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 10),50vh);
}

.bg_cp_img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  top: 0;
  left: 0;
}

.bg_cp_img img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 7;
  top: 0;
  left: 0;
  object-fit: cover;
  text-align: center;
  -webkit-clip-path: url(#clip_path_box);
  clip-path: url(#clip_path_box);
}

.bg_img{
  display: block;
  position: absolute;
  width: 100vw;
  height: 99vh;
  opacity: 0;
  transition: all 1.5s;
  z-index: 997;
}

.bg_img_left{
  top: 0;
  transform: translateX(-55vw);
}

.bg_img_right{
  bottom: 0;
  transform: translateX(55vw);
}

.slideIn{
  opacity: 1 !important;
  transform: translate(0px);
}

.link_wrapper{
  position: absolute;
  display: block;
  width: 150px;
  height: auto;
  opacity: 1;
  z-index: 998;
  visibility: hidden;
}

.link_wrapper_about{
  top: 30vh;
  left: 30vw;
}

.link_wrapper_works{
  bottom: 30vh;
  right: 30vw;
}

.link_wrapper h3{
  position: relative;
  width: 100%;
  height: auto;
  color: white;
}

.link_wrapper h3 a{
  width: 100%;
  height: 1em;
  line-height: 1;
  text-decoration: none;
  color: white;
  font-size: 60px;
  font-weight: 400;
}


.link_bar{
  position: absolute;
  width: 100%;
  height: 40px;
  top: 50px;
  left: 0;
  right: 0;
  background-color: white;
  transition: all 0.5s;
}

/*レスポンシブ*/

/*タブレット*/
@media only screen and (max-width: 959px){

}

/*スマホ*/
@media only screen and (max-width: 599px){

  /*progress*/
  .progress_title{
    letter-spacing: 1em;
    text-indent: 1em;
    top: calc(45vh - 33px);
    z-index: 2;
    width: 250px;
    height: 40px;
    font-size: 40px;
  }
  .progress_bar{
    width: 1%;
    height: 40px;
    top: 45vh;
    left: calc(50vw - 90px);
  }

  .progress_text {
      top: 55vh;
      font-size: 13px;
      width: 100px;
      height: 30px;
  }

  .progress_bar_complete{
      width: 180px;
      background-color: #F8F8F8;
  }

  /*bg_text*/
  .bg_text h2{
    font-size: 10vw;
    letter-spacing: 0.7em;
    text-indent: 0.7em;
  }
}
