@charset "UTF-8";
/* CSS Document */

/*wrapper*/
.wrapper{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #F8F8F8;
  cursor: none;
}

/*cursor*/
.cursor{
  position: absolute;
  opacity: 0;
}

.cursor_dot{
  position: absolute;
  cursor: none;
  pointer-events: none;
  display: inline-block;
  z-index: 999;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #f8e58c;
  transform: translate(-20px,-20px);
}

.cursor_follower{
    position: absolute;
    cursor: none;
    pointer-events: none;
    box-sizing: border-box;
    display: inline-block;
    z-index: 999;
    width: 100px;
    height: 100px;
    opacity: 1;
    border-radius: 50% ;
    background-color: #f8e58caa;
    transform: translate(-100px,-100px);
    transition: 0.2s;
    transition-timing-function: ease-out;
}

/*progress*/
.progress{
  position: absolute;
  background-color: #070707;
  width: 100vw;
  height: 100vh;

  z-index: 1;
}

.progress_title{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  line-height: 1;
  letter-spacing: 1em;
  text-indent: 1em;
  color: #070707;
  top: calc(45vh - 44px);
  z-index: 2;
  width: 600px;
  height: 75px;
  font-size: 75px;
  text-align: center;
}

.progress_bar{
  position: absolute;
  display: block;
  width: 1%;
  height: 80px;
  top: 47vh;
  left: calc(50vw - 160px);
  background-color: #D9D2D0;
  z-index: 4;
}

.progress_text {
    position: absolute;
    top: 58vh;
    font-size: 13px;
    z-index: 4;
    color: #D9D2D0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 100px;
    height: 40px;
    text-align: center;
}

.progress_bar_complete{
    width: 320px;
    background-color: #F8F8F8;
}


/*カラー反転*/
.progress_bg{
  position: absolute;
  display: none;
  width: 100vw;
  height: 100vh;
}

.progress_bg1{
  z-index: 1
}

.progress_bg2{
  z-index: 3
}

.progress_bg3{
  z-index: 5
}

.colorInversion {
    display: block;
    background-color: #F8F8F8;
    mix-blend-mode: difference;
    animation-name: colorInversion;
    animation-duration: 2s;
    animation-timing-function:  cubic-bezier(.4, 0, .2, 1);
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes colorInversion {
  0% {
    transform-origin:bottom;
    transform: scaleY(0);
    }
  100% {
    transform-origin:bottom;
    transform: scaleY(1);
  }
}

/*tap*/

.tap{
  cursor: none;
  position: absolute;
  display: block;
  width: 320px;
  height: 80px;
  top: 47vh;
  left: 0;
  right: 0;
  margin: auto;
  background-color: transparent;
  z-index: 6;
  opacity: 0;
  transition: all 0.3s;
}

.tap_btn{
  cursor: none;
  display: block;
  width: 100%;
  height: 100%;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 1em;
  text-align: center;
  text-indent: 1em;
  line-height: 80px;
  color: #f8f8f8;
  transition: all 1s;
  -webkit-animation:blink 0.7s linear infinite alternate;
  animation:blink 0.7s linear infinite alternate;
}

@-webkit-keyframes blink{
    0% {opacity:0.2;}
    100% {opacity:1;}
}

@keyframes blink{
    0% {opacity:0.2;}
    100% {opacity:1;}
}

.tap_click{
    transition: all 0.5s;
    width: 640px;
    height: 160px;
    opacity: 0 !important;
    transform: translateY(-40px);
}

.tap:hover{
  background-color: #f8e58c;
}

/*bg_text*/
.bg_text{
  /*z-index　検討必要あり*/
  z-index: 3;
}

.bg_text h2{
  position: absolute;
  width: 100vw;
  height: 1em;
  color: #070707;
  font-size: 9vw;
  text-align: center;
  opacity: 0;
  line-height: 1;
  letter-spacing: 0.85em;
  text-indent: 0.85em;
  z-index: 995;
  transition: all 1.5s;
}

.bg_text_top{
  top: 0;
  transform: translateY(-200px);
}

.bg_text_bottom{
  bottom: 0;
  transform: translateY(200px);
}

/*bg_cp*/
.bg_cp{
  display: block;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  opacity: 0;
}

.bg_cp svg{
  width: 0;
  height: 0;
}

#boxA{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(0 ,calc(50vh - 100vw/12 *2));
}

#boxB{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 2),50vh);
}

#boxC{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 3), 0);
}

#boxD{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 7), calc(100vh - 100vw/12 *2));
}

#boxE{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 8),calc(50vh - 100vw/12 *2));
}

#boxF{
    width: calc(100vw / 6);
    height: calc(100vw / 6);
    transform: translate(calc(100vw/12 * 10),50vh);
}

.bg_cp_img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 6;
  top: 0;
  left: 0;
}

.bg_cp_img img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 7;
  top: 0;
  left: 0;
  object-fit: cover;
  text-align: center;
  -webkit-clip-path: url(#clip_path_box);
  clip-path: url(#clip_path_box);
}

/*slide_img*/

.slide_img{
  display: block;
  position: absolute;
  pointer-events: none;
  width: 100vw;
  height: 99vh;
  opacity: 0;
  z-index: 997;
  transition: all 1.8s;
  transition-timing-function: ease-in-out;
}

.slide_img_about{
  top: 0;
  transform: translateX(-55vw);
}

.slide_img_works{
  bottom: 0;
  transform: translateX(55vw);
}

.slideIn{
  opacity: 1 !important;
  transform: translate(0px);
}

.slide_about_click{
}

.slide_works_click{
}

/*bg*/

.main_bg{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: center;
  opacity: 0.07;
}

.about_bg_img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
  opacity: 0;
  transition: 0.3s
}

.works_bg_img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: top;
  opacity: 0;
  transition: 0.3s
}

/*link*/

.link_wrapper{
  position: absolute;
  display: block;
  width: 150px;
  height: auto;
  opacity: 0;
  z-index: 998;
  visibility: hidden;
  transition: 0.3s;
  transition-timing-function: ease-in-out;
}

.link_wrapper_about{
  top: 30vh;
  left: 30vw;
}

.link_wrapper_works{
  bottom: 30vh;
  right: 30vw;
}

.link_wrapper h3{
  position: relative;
  width: 100%;
  height: auto;
  color: #f8f8f8;
}

.link_wrapper h3 .link_text{
  width: 100%;
  height: 1em;
  line-height: 1;
  text-decoration: none;
  color: #f8f8f8;
  font-size: 60px;
  font-weight: 400;
}

.link_bar{
  position: absolute;
  width: 100%;
  height: 40px;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #f8f8f8;
  transition: all 0.5s;
}

/*クリック後*/

.link_text_click{
  color: #070707 !important;
}

.link_bar_click{
  background-color: #070707 !important;
  height: 2px !important;
}

/*about*/

.about_contents{
  position: absolute;
  z-index: 996;
  width: 80vw;
  left: 0;
  right:0;
  margin: auto;
  top: 10vh;
  height: 80vh;
  visibility: hidden;
  opacity: 0;
  background-color: #f2efeb99;
  transition: 1s;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 70% 30%;
  overflow: scroll;
}

.about_main_img{
  display: block;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
  background-image: url(./img/about_bg.jpg);
  background-position: center;
  background-size: cover;
}

.about_main_img_cover{
  width: 100%;
  height: 100%;
  background-color: #f8e58c;
  transform-origin:bottom;
  transition: 1.5s;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transform: scaleY(1);

}

.about_contents .about_text{
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.about_text dl{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto auto auto;
    grid-row-gap: 30px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.about_text dl dt{
    font-family: balboa-plus-fill, sans-serif;
    font-size: 18px;
    padding-left: 5px;
    font-weight: 400;
    font-style: normal;
    line-height: 2;
    padding-right: 20px;
}

.about_text dl dd{
    font-family: "futura-pt";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8;
    padding-right: 20px;
}

.about_contact_wrapper{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: auto;
  height: auto;
}

.about_contents .contact{
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f8e58c;
  transition: background-color 0.3s;
}

.about_contents .contact h3{
  position: absolute;
  text-decoration: none;
  font-family: balboa-plus-fill, sans-serif;
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #f8f8f8;
}

.about_contents .contact:hover{
  background-color: #22AAA1;
}

.about_contents .about_logo{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(img/about_img.png);
  background-position: center;
  background-size: cover;
  width: auto;
  height: auto;
}

.about_slide{
  position: relative;
  z-index: -1;
  transform: translateX(-30vw);
  opacity: 0;
  transition: all 1.5s;
}

/**/

/*about*/

.works_contents{
  position: absolute;
  z-index: 996;
  width: 80vw;
  left: 0;
  right:0;
  margin: auto;
  top: 15vh;
  height: 80vh;
  visibility: hidden;
  opacity: 0;
  background-color: #f2efeb99;
  transition: 1s;
  display: grid;
  grid-template-columns: calc(80vw / 3) calc(80vw / 3) calc(80vw / 3);
  grid-template-rows: calc(80vw / 3 * 10/16) calc(80vw / 3 * 10/16);
  overflow: scroll;
}

.works_intro_wrapper{
    position: relative;
    z-index: 998;
    background: white;
    margin: auto;
    opacity: 0;
    transition: all 0.5s;
    font-family: futura-pt, sans-serif;
    width: calc(200% / 3);
    height: calc(200% / 3);
}

.works_title{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 25%;
    line-height: 2;
    /*line height は％を使わない*/
    top: 20%;
    left: 0;
    text-align: center;
    font-weight: 500;
    font-style: normal;
    font-size: calc(500vw / 288);
}


.works_ganre{
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 20%;
    /*line height は％を使わない*/
    line-height: 2;
    top: 55%;
    left: 0;
    text-align: center;
    font-weight: 300;
    font-style: italic;
    font-size: calc(100vw / 72);
}

/*画面比率は16:10でいくよ!!!*/
.works_item{
    display: block;
    position: relative;
    margin: 0;
}

.works_item_blank{
    display: block;
    position: relative;
    margin: 0;
}

.works_wrapper_button{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.works_img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: cover;
    object-position: top;
}

/*レスポンシブ*/

@media only screen and (max-width: 999px){

.works_contents{
  width: 90vw;
  top: 10vh;
  height: 90vh;
  min-height: 90vh;
  display: flex;
  flex-wrap: wrap;
}

.works_intro_wrapper{
    width: calc(90vw / 2);
    height: calc(90vw / 2 * 10/16);
}
}


/*スマホ*/
@media only screen and (max-width: 599px){

.wrapper{
  height: calc(var(--vh, 1vh) * 100);
}

.cursor{
  display: none;
}

.cursor_dot{
  display: none;
}

.cursor_follower{
  display: none;
}

.progress_title{
  letter-spacing: 0.8em;
  text-indent: 0.8em;
  top: calc(45vh - 35px);
  top: calc(var(--vh, 1vh) * 45 - 35px);
  width: 350px;
  height: 65px;
  font-size: 65px;
  text-align: center;
}

.progress_bar{
  height: 60px;
  top: 47vh;
  top: calc(var(--vh, 1vh) * 47);
  left: calc(50vw - 130px);
}

.progress_text {
    top: 58vh;
    top: calc(var(--vh, 1vh) * 58);
    font-size: 13px;
    width: 100px;
    height: 40px;
    text-align: center;
}


.progress_bar_complete{
    width: 260px;
}

.tap{
  width: 260px;
  height: 60px;
}

.tap_btn{
  line-height: 60px;
}

.bg_text h2{
  font-size: 15vw;
  letter-spacing: 0.3em;
  text-indent: 0.3em;
}

.bg_cp{
  display: none;
}

.link_wrapper{
  width: 110px;
}

.link_wrapper_about{
  top: 20vh;
  top: calc(var(--vh, 1vh) * 20);
  left: 20vw;
}

.link_wrapper_works{
  bottom: 20vh;
  bottom: calc(var(--vh, 1vh) * 20);
  right: 20vw;
}

.link_bar{
  height: 40px;
  top: 33px;
}

.about_contents{
  width: 90vw;
  top: 5vh;
  top: calc(var(--vh, 1vh) * 5);
  height: 90vh;
  height: calc(var(--vh, 1vh) * 90);
  display: block;
}

.link_wrapper h3 .link_text{
  font-size: 40px;
}


.about_text dl{
    padding-top: 60px;
}

.about_text dl dt{
    font-size: 16px;
    padding-right: 10px;
}

.about_text dl dd{
    font-family: "futura-pt";
    font-size: 12px;
}

.about_contact_wrapper{
  width: 100%;
  height: 200px;
}

.about_contents .about_logo{
  width: 100%;
  height: 200px;
}

.works_intro_wrapper{
    width: 90vw;
    height: calc(90vw * 10/16);
}

}

