@charset "UTF-8";
/* CSS Document */

body{
    width: 100vw;
    background-color: #F8F8F8;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
}
